name: Run Playwright Runner Installation

#on:
#  workflow_dispatch:
#    inputs:
#      pipeline_branch:
#        description: 'Test pipeline branch name'
#        type: string
#        required: true
#        default: 'main'

on:
  push:
    branches-ignore:
      - "**release*"
      - "prettier/**"
      - "dependabot/**"
    paths-ignore:
      - "docs/**"
      - "README.md"
      - ".github/**"
  workflow_dispatch: {}
  pull_request:
    branches: [main]
    types:
      [opened, reopened, synchronize]

permissions: {}


jobs:
  Clean_Install_Environments:
    runs-on: ubuntu-latest
    name: Clean Install
    steps:
      - name: Get current workflow branch
        id: get_branch
        run: |
      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: 'main'
          repository: 'Netcracker/qubership-test-pipelines'
          path: 'qubership-test-pipelines'
      - name: Create Kubernetes Cluster
        uses: ./qubership-test-pipelines/actions/shared/create_cluster

      - name: Checkout pipeline
        uses: actions/checkout@v4
        with:
          ref: 'main'
          repository: 'kagw95/qubership-consul'
          path: 'qubership-consul'

      - name: Listing downloaded files
        run: |
          pwd
          ls -R ./

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'v1.32.0'

#      - name: Setup Helm
#        uses: azure/setup-helm@v3

      - name: Verify tools
        run: |
          kubectl version --client
          helm version

      - name: Install Consul
        run: |
          echo  "Namespace to install: consul-ns" 
          helm install --namespace=consul-ns --create-namespace -f ./qubership-consul/charts/helm/consul-service/values.yaml consul-service ./qubership-consul/charts/helm/consul-service  --set monitoring.enabled=false

      - name: Check Consul Status
        shell: bash
        run: |
          sleep 15s
          kubectl get pods -n consul-ns
          pod=$(kubectl get pods -n consul-ns --no-headers -o custom-columns=":metadata.name" | grep '^consul-server' | head -n 1)
          echo "Start checking consul-server pod: $pod"
          kubectl wait pod "$pod" -n consul-ns \
            --for=condition=Ready \
            --timeout=600s || {
            echo "❌ Pod $pod did not become ready in time"
            exit 1
          }
          echo "Getting consul-bootstrap-acl-token"
          kubectl get secrets -n consul-ns
          token=$(kubectl get secret consul-bootstrap-acl-token -n consul-ns -o jsonpath='{.data.token}' | base64 --decode)
          echo "Consul Token: $token"
          echo "CONSUL_TOKEN=$token" >> $GITHUB_ENV
          kubectl get services -n consul-ns

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Playwright Runner
        run: |
          set -e
          CURRENT_DATE=$(date +'%Y-%m-%d')
          CURRENT_TIME=$(date +'%H-%M-%S')
          
          echo "CURRENT_DATE=$CURRENT_DATE"
          echo "CURRENT_TIME=$CURRENT_TIME"
          
          helm install --namespace=consul-ns --create-namespace \
            -f ./deployments/charts/atp3-playwright-runner/values.yaml \
            -f ./deployments/charts/atp3-playwright-runner/resource-profiles/dev.yaml \
            atp3-playwright-runner ./deployments/charts/atp3-playwright-runner \
            --set "DOCKER_TAG=ghcr.io/netcracker/qubership-testing-platform-playwright-runner:build_process_latest" \
            --set "ATP_RUNNER_JOB_EXIT_STRATEGY=$CONSUL_TOKEN" \
            --set "ATP_REPORT_VIEW_UI_URL=https://atp3-results.test" \
            --set "ATP_STORAGE_BUCKET=qstp-consul" \
            --set "ATP_STORAGE_PASSWORD=${{ secrets.ATP_STORAGE_PASSWORD }}" \
            --set "ATP_STORAGE_PROVIDER=s3" \
            --set "ATP_STORAGE_SERVER_UI_URL=https://console.s3.amazonaws.com" \
            --set "ATP_STORAGE_SERVER_URL=https://s3.amazonaws.com" \
            --set "ATP_STORAGE_USERNAME=${{ secrets.ATP_STORAGE_USERNAME }}" \
            --set "ATP_TESTS_GIT_REPO_BRANCH=test" \
            --set "ATP_TESTS_GIT_REPO_URL=https://github.com/kagw95/qubership-consul-playwright-tests.git" \
            --set "ATP_TESTS_GIT_TOKEN=${{ secrets.ATP_TESTS_GIT_TOKEN }}" \
            --set "CURRENT_DATE=$CURRENT_DATE" \
            --set "CURRENT_TIME=$CURRENT_TIME" \
            --set "ENVIRONMENT_NAME=test" \
            --set-json 'TEST_PARAMS={"execution_list":[{"type":"scope","name":"pipeline_job"}]}'


      - name: Get docker images
        shell: bash
        run: |
          echo "▶️ Checking pods in namespace consul-ns"
          sleep 15s

          kubectl get pods -n consul-ns

          echo "Docker images:"
          kubectl get pods -n consul-ns -o go-template --template="{{range .items}}{{range .spec.containers}}{{.image}} {{end}}{{end}}"
          echo

          echo "Waiting for pod to complete..."
          timeout=600
          start_time=$(date +%s)

          pod=$(kubectl get pods -n consul-ns --no-headers -o custom-columns=":metadata.name" | grep -vE '^playwright-runner' | head -n 1)
          echo "Tracking pod: $pod"

          while true; do
            phase=$(kubectl get pod "$pod" -n consul-ns -o jsonpath='{.status.phase}' 2>/dev/null || echo "Unknown")
          
            if [[ "$phase" == "Succeeded" ]]; then
              echo "✅ Pod $pod succeeded"
              echo "Test curl"
              kubectl exec -n consul-ns $pod -- curl -v http://consul-server.consul-ns.svc.cluster.local:8500/v1/status/leader
              kubectl logs "$pod" -n consul-ns --tail=500 || true
              exit 0
            elif [[ "$phase" == "Failed" ]]; then
              echo "❌ Pod $pod failed"
              kubectl logs "$pod" -n consul-ns --tail=500 || true
              exit 1
            fi

            now=$(date +%s)
            elapsed=$(( now - start_time ))
            if (( elapsed > timeout )); then
              echo "❌ Timeout waiting for pod $pod to succeed after ${timeout}s"
              kubectl logs "$pod" -n consul-ns --tail=50 || true
              exit 1
            fi

            echo "⏳ Pod phase: $phase (elapsed: ${elapsed}s)"
            sleep 15
          done          
